INTERNAL_HOST_PORT=1234
ROOT=/termit
URL=http://localhost:1234
PUBLIC_ORIGIN=http://localhost:1234
APP_ROOT_PATH=

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=passy

POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak

GDB_USERNAME=termit
GDB_PASSWORD=13a980d8943ded3ee91da0fafc43eb7c9acc0370e037364891311b2e26ac9401

OPENAI_API_KEY=
GOOGLE_SECRET_KEY=
GOOGLE_CLIENT_ID=

KIALO_DB_DB=kialo_db
KIALO_DB_USER=kialo_admin
KIALO_DB_PASSWORD=kialo_secret_pass
KIALO_SQL_INIT_MODE=never

ONTOGRAPHER_URL=http://localhost/ontographer
ONTOGRAPHER_DEBUG=false